{% load static %}

<html>
<head>
	<title>درباره ما</title>
<meta charset="utf-8">
<title>Untitled Document</title>
	<link rel="stylesheet" href="{% static 'website/css/about.us.css' %}";
</head>

<body>
		<a href="/firs">
		<img class="logo" src="{% static 'website/jpeg/logonomy-1671597503513.jpeg' %}" alt="not exist">
	</a>
	<div class="div1">
	  <b><p dir="rtl"class="p">در بخش امور خوابگاهی بسیاری از مشکلات و شکایات به دلیل عدم سازماندهی مناسب، به فراموشی سپرده می شود.<br> بسیاری از دانشجویان ساکن خوابگاه برای گزارش درخواست ها و شکایات باید مسیر سولانی و زمان گیری را طی کنند و گاهاً نیز به دلیل عدم رسیدگی مسئولان پشیمان می شوند.<br>تیم توسعه دهنده aqua-code برآن شدند که سیستم جدیدی برای رفع این مشکل ایجاد کنند.<br> دسترسی به این سیستم ازطریق مسئولین و دانشجوهای خوابگاهی امکان پذیر است.<br>این سیستم قابلیت ثبت شکایات،سفارش اقلام موردنیاز و گزارش نواقص مربوطه مثل نظافت،تاسیسات،انتظامات و... را دارا می باشد.
		  <br>مسئولین نیز می توانند با درج قوانین،اعلانات،اخبار و... دانشجویان را آگاهی بیشتری ببخشند.
		</p></b>
	</div>
	<div class="div2"><br><br> <b><p class="p2"> &nbsp; &nbsp; درباره ما</p>
	</b></div>
		<div class="div3"><b><p dir="rtl"class="p">در بخش تاسیسات و نظافت دانشجویان می توانند مشکلات تاسیساتی را انتخاب کرده و یا درصورت نیاز توضیحاتی درباره مشکل ارائه کرده و ارسال کنند.<br>همچنین با انتخاب درخواست نظافت درخواست خود را اعلام کنند.<br>در بخش انتظامات مسئولین مربوطه می توانند قوانین را درج و حذف کنند.<br>دانشجویان می توانند گزارشات خود را ارسال کنند.<br>در قسمت بوفه دانشجویان اقلام موردنیاز خود را انتخاب و سفارش می دهند.
			
			</p></b>

			
	</div>

</body>
</html>
