{% load static %}

<html>
<head>
	<title>انتظامات</title>

<meta charset="utf-8">
<title>entezamat</title>
	<link rel="stylesheet" href="{% static 'website/css/entazamat.css' %}">
</head>

<body>
	<a href="/first">
	<img class="logo" src="{% static 'website/jpeg/logonomy-1671597503513.jpeg' %}" alt="not exist">

		</a>
<h1 class="titr">انتظامات</h1>
	<b><h2 class="h2">&nbsp; &nbsp;گزارشات و شکایات خود را بنویسید:</h2>
	</b>
<form><textarea class="textarea" cols="45" rows="10" style="margin-right: 5px;">گزارشات و شکایات: </textarea></form>
<button onClick="MyMessage();" class="submit" type="submit" > ثبت</button>
	<p id="Result"></p>
<script>

function MyMessage(){
 document.getElementById("Result").innerHTML = "درخواست شما با موفقیت ثبت گردید!";
}

</script>



	<label><h1 class="h1">&nbsp; قوانین:</h1>
	</label>
<div class="div1"><iframe width="390px" height="390px" src="https://bostan.uk.ac.ir/layers.aspx?quiz=newsc&id=1064&dept=3"></iframe></div>
</body>
</html>
