{% load static %}

<html>
<head>
	<title>سایت پشتیبانی خوابگاه</title>
<meta charset="utf-8">
<title>first</title>
</head>
<link rel="stylesheet" href="{% static 'website/css/first.css' %}" style="text-align: center">
	
<body class="body">
	<div class="contain">
		<br>
		<h3 class=" title"  >  سايت پشتيباني امور خوابگاه </h3>
	<img class="logo" src="{% static 'website/jpeg/logonomy-1671597503513.jpeg' %}" alt="not exist">

	</div>
	<div class="menu"> 
	<nav>
		<ul>
		    <li > <a href="/entazamat">انتظامات </a></li>
			<li > <a href="/bofe">درخواست از بوفه </a></li>
			<li > <a href="/tasisat1">تاسیسات و نظافت </a></li>
		    <li > <a href="/about">درباره ما </a></li>

		
		</ul> 
		</nav>
	</div>
	<div class="back"></div>
	<div class="akhbar"><iframe class="ifram1" src="https://bostan.uk.ac.ir/"></iframe>
		<iframe class="ifram1" src="https://bostan.uk.ac.ir/layers.aspx?quiz=newsc&id=1062&dept=3"></iframe>
		<iframe class="ifram1" src="https://bostan.uk.ac.ir/layers.aspx?quiz=newsc&id=1065&dept=3"></iframe>
		<iframe class="ifram1" src="https://bostan.uk.ac.ir/layers.aspx?quiz=newsc&id=58&dept=3"></iframe>
	</div>

</body>
</html>
