{% load static %}

<html>
<head>
	<title>ورود</title>

<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'website/css/Untitled-2.css' %}">
</head>

<body>
	<div class="b" align="right" dir="rtl">
		<form>
	  <input class="password" type="text " placeholder ="             نام کاربری"><br><br>
	  <input class="password1" type="password" placeholder="             رمز عبور"><br><br>
		<button class="login1"  type="submit" value="ارسال اطلاعات"  ><a class="vorod" href="/first"> ورود </button></a>
		<button  class="login"  type="submit" value="ارسال"> <a class="sabtnam" href="/registery" rel="external">ثبت نام  </button></a>
			</form>
		
		<label > </label>
		</div>
</body>
</html>
