{% load static %}

<html>
<head>
	<title>ثبت نام</title>
<meta charset="utf-8">
<title>Untitled Document</title>
	<link rel="stylesheet" href="{% static 'website/css/registery1.css' %}"
</head>

<body>
	<form  class="form" dir="rtl">
			<h1 class="titr">ثبت نام</h1>
		<u><p>لطفاً اطلاعات زیر را وارد نمایید:</p></u>
		<label>نام:</label>
		<br>
		<input type="text">
		<br>
		<br>
				<label>نام خانوادگی:</label><br>
		<input type="text">
		<br>
		<br>
				<label>شماره دانشجویی:</label><br>
		<input type="text">
		<br>
		<br>
				<label>کدملی:</label><br>
		<input type="text">
		<br><br>
						<label>نام کاربری:</label><br>
		<input type="text"> <br><br>
								<label>رمز عبور:</label><br>
		<input type="password"> <br><br>
								<label>شماره تماس:</label><br>
		<input type="text"> <br><br>

	<button class="submit" type="submit" value="ارسال اطلاعات"><a class="taid" href="/">ثبت</button></a>
	</form>

</body>
</html>
